numpy>=1.18
opencv-python
six>=1.13.0
scikit-image>=0.19.0
scipy
beautifulsoup4
scikit-learn
matplotlib>=3.0.2
ipython>=7.10.2
pillow>= 4.1.1
setuptools>=42.0.1
onnx>=1.4.1
tensorboard>=1.15.0
dill>=0.3.1
tqdm
requests
h5py